body {
  background: #2C3E50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}


.heart{
  background: rgb(36,1,0);
  background: linear-gradient(30deg, rgba(36,1,0,1) 0%, rgb(121, 9, 15) 35%, rgba(255,0,101,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}
.views{
  background: rgb(36,1,0);
  background: linear-gradient(30deg, rgba(36,1,0,1) 0%, rgb(9, 54, 121) 35%, rgb(0, 247, 255) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  
}


#resultado{
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  
}
